@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

* {
	font-family: 'ralewayregular' !important;
}

form legend {
    background: none repeat scroll 0 0 #E9E9E9;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    color: #333333;
    display: block;
    font-weight: 700;
    margin: 0 -1em 1em;
    overflow: hidden;
    padding: 0.4em 1em;
    position: relative;
    text-align: left;
    text-shadow: 0 1px 0 #EEEEEE;
    width: 100%;
}

/*form legend.first {
   margin: -0.5em -1em 1em;
    border-top: none;
}*/

#lkw legend {
    background: none repeat scroll 0 0 #1D1D1D;
    border-color: #1B1B1B;
    color: #FFFFFF;
    font-weight: 700;
    text-shadow: 0 1px 0 #111111;
}

form label.required:after {
    color: #FF0000;
    content: " *";
}

.ui-collapsible-content {
	padding-top: 0;
}

#lkw .ui-datepicker-calendar td, #lkw .ui-datepicker .ui-datepicker-header {
    background: none repeat scroll 0 0 #2A2A2A;
    border-color: #1D1D1D;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #111111;
}

#lkw .ui-datepicker-calendar th {
    background: none repeat scroll 0 0 #1D1D1D;
    border-color: #1B1B1B;
    color: #FFFFFF;
    font-weight: 700;
    text-shadow: 0 1px 0 #111111;
}

h4 img {
	vertical-align: middle;
	width: 140px;
	margin-left: 20px;
}

.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b {
    background: url('../img/dark_bg.png');
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	background: url('../img/light_bg.png');
}

.ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper {
	background: url('../img/dark_bg.png');
}

.titlePic {
	width: 100%;
}

.css-form input.ng-invalid.ng-dirty {
background-color: #FA787E;
}
.css-form input.ng-valid.ng-dirty {
}



