<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "MTO"
        versionCode="10"
        version   = "1">

	<icon src="img/icon-48-mdpi.png" />

<icon gap:density="ldpi" gap:platform="android" src="img/icon-36-ldpi.png" />
<icon gap:density="mdpi" gap:platform="android" src="img/icon-48-mdpi.png" />
<icon gap:density="hdpi" gap:platform="android" src="img/icon-72-hdpi.png" />
<icon gap:density="xhdpi" gap:platform="android" src="img/icon-96-xhdpi.png" />


    <!-- versionCode is optional and Android only -->

    <name>MTO</name>

    <description>
        Mit diesem App können Sie die aktuellen Ladungen und LKW von MTO jederzeit mitverfolgen
    </description>

    <author href="http://www.mto.at" email="clemens@mto.at">
		Clemens Brunner
    </author>

    <!--access origin="http://mtoserver.dyndns.org/mto/sql.php" subdomains="true" />
    <access origin="http://mtoserver.dyndns.org/" subdomains="true" /-->
  <preference name="permissions" value="none"/>

<gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />
</widget>

